/* src/components/LanguageSwitcher.css */
.language-switcher {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .language-switcher select {
    border-radius: 4px;
    padding: 6px 8px;
    margin: 6px 4px;
    cursor: pointer;
  }
  