@import "../Protocols/Protocols.css"; 

.btn-assign {
    background-color: var(--purple); /* Using your green variable, or try #28a745 */
    color: white;                     /* This now applies to the SVG icon! */
    padding: 0.3rem 0.5rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s;
  }
  
  .btn-assign:hover {
    opacity: 0.9;
  }